*{
    transition: .125s ease;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #333;
}

#ip-landing {
    background: url(./images/landing-bg.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.ip-landing-campaign-title {
    font-size: 3em;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.ip-landing-campaign-text {
    line-height: 1.4;
    font-size: 1.6em;
    text-align: center;
    letter-spacing: -0.48px;
    color: #FFFFFF;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    margin: 1em 3em 0;
    font-family: 'PT Sans';
}

.ip-landing-campaign-cta, .ip-explanation-cta {
    background: #006DFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 500px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 0.65em 1.5em;
    cursor: pointer;
    margin: 2em 0 0;
}

.ip-landing-campaign-cta > a, .ip-explanation-cta > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.ip-landing-campaign {
    max-width: 55em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: auto;
}

#ip-explanation {
    padding: 5em 0 6em;
    text-align: center;
}

.ip-explanation-left {
    float: left;
    width: 100%;
}

.ip-explanation-right {
    float: left;
    width: 30%;
}

.ip-explanation-title {
    font-size: 2.5em;
    margin-bottom: 1rem;
    letter-spacing: -0.01em;
}

.ip-explanation-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.35;
    letter-spacing: -0.02em;
    text-align: left;
    list-style-type: decimal;
}

.ip-explanation-text > li{
    padding-left: 0.5em;
    margin-bottom: 1.25em;
    white-space: pre-line;
}

.ip-explanation-paragraph {
    max-width: 36em;
    margin: auto auto 4em;
}

.ip-explanation-cta {
    font-size: 1.35em;
    margin-top: -0.5rem;
    box-shadow: none;
}

#ip-calculator {
    background: #006DFF;
    color: #fff;
    padding: 5em 0;
    text-align: center;
}

.ip-calculator-title {
    font-size: 2.75em;
    margin-bottom: 1rem;
    letter-spacing: -0.01em;
}

.ip-calculator-subtitle {
    font-size: 1.4em;
    padding: 0 4em;
}

.ip-calculator-holder {
    background: #0051BD;
    padding: 3em;
    border-radius: 15px;
    margin-top: 4em;
    margin-bottom: 4em;
    max-width: 25em;
    margin: 4em auto;
}

.ip-calculator-field {
    float: left;
    width: 100%;
    margin-bottom: 2em;
}

.ip-calculator-field-title {
    font-size: 1.5em;
}

.ip-calculator-range {
    margin: 1em auto 5em;
    width: 100%;
}

.rzslider .rz-bar {
    height: 8px;
    background: #fff;
    border-radius: 4px;
}

.rzslider .rz-pointer {
    top: -15px;
    background: #fff;
    border: 5px solid #0051bd;
    border-radius: 50px;
    height: 28px;
    width: 28px;
}

.rzslider .rz-pointer:focus {
    outline: none;
}

.rzslider .rz-bubble {
    background: #fff;
    bottom: -88px;
    border-radius: 4px;
    padding: 9px 18px 7px;
    color: #0051bd;
    font-size: 22px;
}

.rzslider .rz-pointer::before {
    content: '';
    position: absolute;
    height: 0px;
    width: 0px;
    bottom: -28px;
    left: calc(50% - 8px);
    border-bottom: 8px solid #fff;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.rzslider .rz-pointer::after {
    background: #93c1ff !important;
    top: 10px;
    left: 10px;
    transition: .125s ease;
}

.rzslider .rz-pointer.rz-active::after {
    background: #0051bd !important;
}

.ip-calculator-text-field {
    font-size: 1.25em;
    text-align: center;
    padding: 0.8em 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 1.3em 0;
    color: #0051bd;
}

.ip-calculator-submit {background: #32b14e;border-radius: 5px;font-size: 20px;font-family: 'Montserrat', sans-serif;display: inline-block;padding: 1em 1.5em;cursor: pointer;border: none;text-transform: uppercase;width: 100%;}

.ip-calculator-info-title {
    font-size: 2.75em;
    margin-bottom: 1rem;
    letter-spacing: -0.01em;
}

.ip-calculator-info-text {
    font-size: 1.25em;
    margin: 0 5em;
}

.ip-calculator-info-cta {
    background: #27AE60;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 500px;
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2em;
    display: inline-block;
    padding: 0.65em 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}

input.ip-calculator-info-text-field {
    font-size: 1.25em;
    text-align: center;
    padding: 0.8em 0;
    border: none;
    border-radius: 5px;
    width: calc(100% - 4px);
    margin-bottom: 1.25em;
    color: #0051bd;
    border: 2px solid white;
}

input.ip-calculator-info-text-field:first-of-type {
    margin-top: 1.3em;
}

/* input.ip-calculator-info-text-field.ng-invalid:not(.ng-empty) {
    background: rgb(255, 191, 200);
    color: #8c0000;
    border-color: rgb(255, 0, 0);
} */

.ip-calculator-error {
    float: left;
    width: calc(100% - 4px - 4em);
    margin-bottom: 3em;
    color: #a50909;
    background: #ff8f8f;
    border-radius: 5px;
    border: 2px solid red;
    padding: 2em;
}

.ip-calculator-radio-field {
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
}

.ip-calculator-radio-field::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 46px;
}

.ip-calculator-radio-field::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background: #0051bd;
    top: 9px;
    left: 9px;
    border-radius: 10px;
    transition: .275s cubic-bezier(0.18, 0.89, 0.02, 1.51);
    transform: scale(0);
}

.ip-calculator-radio-field:checked::after {
    transform: scale(1);
}

.ip-calculator-radio-holder {
    float: left;
    width: 50%;
    margin: 2em 0 1em;
}

.ip-calculator-radio-label {display: block;font-size: 1.25em;margin-top: 0.25em;text-align: center;}

#ip-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.ip-modal-success {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    border-radius: 10px;
    width: 20em;
    text-align: center;
    box-shadow: 0 8px 100px rgba(0, 0, 0, 0.35);
}

.ip-modal-success-text {
    font-size: 1.5em;
}

.ip-modal-close {
    background: #32b14e;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 1em 0;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    margin-top: 1.5em;
}

.ip-calculator-submit.loading {
    pointer-events: none;
    opacity: 0.5;
}

@media screen and (max-width: 400px){
    #ip-landing{
        position: static;
        height: auto;
    }

    .ip-landing-campaign{
        position: static;
        transform: none;
        padding: 4em 1em;
    }

    .ip-landing-campaign-title{
        font-size: 1.8em;
    }

    .ip-landing-campaign-text{
        font-size: 1.2em;
        margin: 1em 1em 0;
    }

    .ip-landing-campaign-cta{
        font-size: 1em;
    }

    #ip-explanation{
        padding: 4em 1em;
    }

    .ip-explanation-title{
        font-size: 1.5em;
    }

    .ip-explanation-text{
        font-size: 1em;
    }

    .ip-explanation-cta{
        font-size: 1em;
    }

    #ip-calculator{
        padding: 4em 1em;
    }

    .ip-calculator-title{
        font-size: 1.65em;
    }

    .ip-calculator-subtitle{
        font-size: 1em;
    }

    .ip-calculator-holder{
        margin: 3em auto;
        padding: 2em;
    }

    .ip-calculator-field-title{
        font-size: 1.25em;
    }

    .rzslider .rz-bubble{
        font-size: 1em;
        bottom: -80px;
    }

    .ip-calculator-text-field{
        font-size: 1em;
    }

    input.ip-calculator-info-text-field{
        font-size: 1em;
    }

    .ip-calculator-radio-label{
        font-size: 1em;
    }

    .ip-calculator-submit{
        font-size: 1em;
        white-space: normal;
    }

    .ip-modal-success{
        width: calc(100% - 6em);
        padding: 1.5em;
    }
}

@media screen and (min-width:401px) and (max-width:1020px){
    #ip-landing{
        position: static;
        height: auto;
    }

    .ip-landing-campaign{
        position: static;
        transform: none;
        padding: 12em 3em;
    }

    .ip-landing-campaign-title{
        font-size: 2.25em;
    }

    .ip-landing-campaign-text{
        font-size: 1.3em;
        margin: 1em 1em 0;
    }

    .ip-landing-campaign-cta{
        font-size: 1.25em;
    }

    #ip-explanation{
        padding: 4em 1em;
    }

    .ip-explanation-title{
        font-size: 2em;
    }

    .ip-explanation-text{
        font-size: 1.1em;
    }

    .ip-explanation-cta{
        font-size: 1.25em;
    }

    #ip-calculator{
        padding: 4em 1em;
    }

    .ip-calculator-title{
        font-size: 2em;
    }

    .ip-calculator-subtitle{
        font-size: 1.15em;
    }

    .ip-calculator-holder{
        margin: 3em auto;
        padding: 2em;
    }

    .ip-calculator-field-title{
        font-size: 1.5em;
    }

    .rzslider .rz-bubble{
        font-size: 1.25em;
        bottom: -86px;
    }

    .ip-calculator-text-field{
        font-size: 1em;
    }

    input.ip-calculator-info-text-field{
        font-size: 1em;
    }

    .ip-calculator-radio-label{
        font-size: 1em;
    }

    .ip-calculator-submit{
        font-size: 1.25em;
        white-space: normal;
    }
}
