<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="le-iptu" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="le-iptu" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="le-iptu" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="le-iptu" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>IPTU</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
        <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.min.css">
        <link rel="stylesheet" href="app.css">
        <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="app.js"></script>
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WWJW8GF');
        </script>
    </head>
    <body ng-controller="MainController as Main">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWJW8GF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div id="ip-modal" ng-cloak ng-if="Main.data.formSuccess">
            <div class="ip-modal-success">
                <div class="ip-modal-success-text">
                    Sua solicitação foi enviada com sucesso. Em breve você será contatado(a) para saber se pode receber
                    uma restituição.
                </div>
                <div class="ip-modal-close" ng-click="Main.data.formSuccess = false">Fechar</div>
            </div>
        </div>
        <div id="ip-landing">
            <div class="ip-landing-campaign">
                <div class="ip-landing-campaign-title">Recupere até R$7.000,00 cobrados indevidamente no IPTU da Prefeitura do Recife</div>
                <div class="ip-landing-campaign-text">Se você possui um ou mais imóveis em Recife, é possível recuperar até R$7.000,00 de cada imóvel</div>
                <div class="ip-landing-campaign-cta" ng-click="Main.anchor('ip-explanation')">
                    <a>Será que fui afetado?</a>
                </div>
            </div>
        </div>
        <div id="ip-explanation" class="container clearfix">
            <div class="ip-explanation-left">
                <div class="ip-explanation-paragraph">
                    <div class="ip-explanation-title">O que aconteceu?</div>
                    <div class="ip-explanation-text">
                        Durante os anos de 2013, 2014 e 2015 a Prefeitura do Recife aumentou ilegalmente diversos IPTUs
                        em várias áreas da cidade, gerando assim, direito a reembolso do valor com correção e juros.
                    </div>
                </div>
                <div class="ip-explanation-cta" ng-click="Main.anchor('ip-calculator')">
                    <a>Verifique se você foi afetado</a>
                </div>
            </div>
            <div class="ip-explanation-right"></div>
        </div>
        <div id="ip-calculator">
            <div class="container">
                <div class="ip-calculator-title">Verifique se o seu imóvel tem direito ao reembolso</div>
                <div class="ip-calculator-subtitle">Insira o valor do seu IPTU e seu CEP abaixo para calcularmos quanto você pode receber de volta</div>
                <form ng-submit="Main.sendData()">
                    <div class="ip-calculator-holder clearfix">
                        <div class="ip-calculator-field">
                            <div class="ip-calculator-field-title">Qual o valor anual do seu IPTU?</div>
                            <div class="ip-calculator-range">
                                <rzslider rz-slider-model="Main.data.form.iptu_price" rz-slider-options="Main.data.sliderOptions"></rzslider>
                            </div>
                        </div>
                        <div class="ip-calculator-field">
                            <div class="ip-calculator-field-title">Qual seu CEP?</div>
                            <input class="ip-calculator-text-field" ng-change="Main.getNeighbourhood()" ng-model="Main.data.form.cep" placeholder="Ex: 12345-678" ui-br-cep-mask required>
                        </div>
                        <div class="ip-calculator-field">
                            <div class="ip-calculator-field-title">Dados para contato</div>
                            <input class="ip-calculator-info-text-field" ng-model="Main.data.form.name" placeholder="Nome e sobrenome" required>
                            <input class="ip-calculator-info-text-field" ng-model="Main.data.form.email_phone" placeholder="Email ou telefone" required>
                        </div>
                        <div ng-if="Main.data.formError" class="ip-calculator-error">Algo deu errado ao enviar sua solicitação. Por favor, verifique se todos os campos estão preenchidos corretamente e tente novamente.</div>
                        <input type="submit" class="ip-calculator-submit" ng-class="{'loading': Main.data.loadingForm}" value="Verificar gratuitamente">
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|PT+Sans">
            <link rel="stylesheet" href="fonts.css">
            <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
            <script src="bower_components/angular-input-masks/angular-input-masks-standalone.js"></script>
        </footer>
    </body>
</html>
